*{box-sizing = border-box;
background-color: #0F9777 ;}

section{border: 2px solid black; margin: 10px;  height: 400px; overflow: auto; background-color: #FAD002;}
section3{border: 2px solid black;margin: 10px; height: 400px; overflow: auto;background-color: #FAD002;}
p{ margin-right: 2px;clear: right;font-family: Brush Script, cursive; font-size: 120%;background-color: #FAD002;  }
h2 {border: 5px solid black; margin-top: 0px; margin bottom: 10px; padding: 5px 20px 5px 20px;}
h1{color: #FFFFFF; text-align: center; }
#lord{background-color: #FFC300;}
#harry{background-color: red;}
#percy{background-color: blue;}

@media(min-width:992px){
#p1{float:left;} #p2{ float:left;} #p3{ float: left;}h2{float: right;}section{width:29.5% ;height: 500px; float:left;} section3{width:33% ;height: 500px; float:left;}li{clear: right;}}


@media(min-width:768px) and (max-width:991px){
#p1{  float: left; } #p2{float: left; } #p3{  float: left; }h2{float: right;}section{width:46% ;height: 300px;float: left;} section3{width:98% ;height: 200px; float:left;}}

@media (max-width:767px){
#p1{float: left;}#p2{ float: left;}#p3{float: left; }h2{float: right;}section{width:100% ;height: 200px; float: left;} section3{width:100% ;height: 200px; float:left;}}

.container{
	
	align-items: center;
}
