body{
	font-family: 'Smooch Sans', sans-serif;
}

#header-nav{
	background-color: #AB2424;
	border-radius: 0;
	border: 0;
}
h1#page-title{
	margin: 0px 0px 0px 0px;
	font-size: 2.5em;
	font-weight: bold;
	color: #D8D8D8;
}

.navbar-brand a:hover, .navbar-brand a:link {
  text-decoration: none;
}

.container p{
	font-size: 25px;
	font-family: 'Playfair Display', serif;
}

#content {
	background-color:  #D8D8D8;
}

 h3{
	font-size: 50px;
}

h2{
	font-size: 70px;
	font-weight: bold;
}



.d-md-none .container p{
	font-size: 20px;
	/* font-family: 'Playfair Display', serif; */
}

#nav-list {
  margin-top: 5px; 
}
#nav-list a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5em;
}
#nav-list li{
  text-align: center;
  font-size: 1.5em;
  color: #D8D8D8;
}

.navbar-toggler {
    display: inline-block;
    float: none;
}

.navbar-header button.navbar-toggler, .navbar-header .fa-bars {
  /* background-color: 1px solid #000000; */
  color: #D8D8D8;
}
.navbar-header  button.navbar-toggler
{
	/* border: 1px solid #D8D8D8; */
}

#header-nav button{
	position: absolute;
	top: 25px;
	right: 5px;
}
/* #header-nav button{ */
	/* position: absolute; */
	/* bottom: 5px; */
	/* right: 5px; */
/* } */
#collapsable-nav a:hover, #collapsable-nav a:link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
/* .navbar-header button.navbar-toggler { */
/* clear: both; */
/* margin-top: -30px; */
/* }  */
